.card-container {
    padding: 0.5em;
    margin: 0 auto;
    text-align: center;
    /* width: 30%; */
    width: 30ch;
    background-color: var(--bg-color-secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 5px 5px 15px 5px #000000;
}

.card-container__temperature {
    padding: 0.2em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    height: 100%;
}

.card-container__humidity {
    padding: 0.2em;
    font-size: 1.6em;
    font-weight: bold;
    height: 100%;
    text-align: center;
}

.card-container__date {
    padding: 0.2em;
    font-size: 1.3em;
    text-align: center;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
    /* .card-container { width: 30%; } */
   }
   
  @media all and (min-width: 768px) and (max-width: 1024px) { 
    /* .card-container { width: 30%; } */
  }
   
  @media all and (min-width: 480px) and (max-width: 768px) { 
    /* .card-container { width: 50%; } */
  }
   
  @media all and (max-width: 480px) { 
    /* .card-container { width: 50%; } */
  }